* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 70px;
}
.navbar {
  background-color: transparent !important;
}

.navbar .nav-link,
.navbar-brand {
  color: #fff !important;
}
.navbar {
  background-color: transparent !important;
}